.fa {
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #0051ff;
    color: white;
}

.fa-twitter {
    background: #008efa;
    color: white;
}

.fa-google {
    background: #ff1e00;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

body {
    background-color: lightyellow;
}

.header {
    text-align: center;
    font-size: large;
    color: chocolate;
    padding: 15px;
    background-color:blanchedalmond;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 25px;
}

.h1 {
    text-align: center;
    color: chocolate;
}

.h2 {
    text-align: center;
    color: chocolate;
}

h2 {
    color: chocolate;
    margin-left: 45px;
    font-family: "Sofia", sans-serif;
}

li {
    color: chocolate;
    display: inline;
    font-size: 25px;
    padding: 10px;
    background-color: lightyellow;
}

a {
    text-decoration: none;
}

.img1 {
    margin-right: 45px;
    width: 250px;
    float: right;
    margin-left: 45px;
}

.img2 {
    margin-left: 45px;
    width: 250px;
    float: left;
    margin-right: 45px;
}

.h3 {
    text-align: center;
    color: chocolate;
}

.clearfix {
    display: table;
    clear: both;
}

.p1 {
    font-size: larger;
    line-height: 45px;
    margin-left: 45px;
    margin-right: 45px;
}

.p2 {
    font-size: large;
    line-height: 45px;
    margin-right: 45px;
    margin-left: 45px;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

h3 {
    margin-left: 45px;
    font-style: italic;
    color: chocolate;
}

.navh5 {
    font-style: italic;
}

/*Quotes Page*/  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin-left: 45px;
    margin-right: 45px;
  }
  
  .column {
    -ms-flex: 24%; /* IE10 */
    flex: 24%;
    max-width: 24%;
    padding: 0 6px;
    margin-bottom: 15px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  

footer{
    background-color: blanchedalmond;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 45px;
    padding: 15px;
    color: chocolate;
    text-align: center;
}

.button {
    background-color:blanchedalmond;
    border: none;
    color:brown;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 45px;
    border-radius: 12px;
    font-style: italic;
    font-family: "Sofia", sans-serif;
    font-weight: bold;
    margin-top: 15px;
  }

  .form-control{
    margin-left: 45px;
    display: block;
    width: 200px;
    height: 15px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 10px;
  }